<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="w-full h-screen">
        <div class="flex h-full">
           
            <div class="flex-1 bg-gray-100 w-full h-full">
                <div class="main-body container m-auto w-11/12 h-full flex flex-col">
                    <app-status></app-status>
    
                    <div class="main flex-1 flex flex-col">
                        <app-text></app-text>

                        <div class="flex-1 flex h-full">
                            <div class="sidebar hidden lg:flex w-1/3 flex-2 flex-col pr-6">
                                <app-search (change)="updateValue()"></app-search>
                                <div class="flex-1 h-full overflow-auto px-2">
                                  <div class="card-body contacts_body">
                                    <ul class="contacts" id="contactsCard">
                                      <li id ="list" *ngFor="let person of peopleList" (click)="removeActive(person)" >
                                        <app-person [name]="person.name" [date]="person.date" [notification]="person.notification" [message]="person.message" [active]="person.active" ></app-person>
                                      </li>
                                    </ul>
                                    
                                  </div>
                                </div>
                              </div>
                              
                            <div class="chat-area flex-1 flex flex-col">
                                <app-chat-text name="Lahbib"></app-chat-text>
                                <div id="msgs"class="messages flex-1 overflow-auto">
                                    
                                  
                                  <ng-container #container></ng-container>
                                    
                                </div>
                                <app-send (sendClick)="sendMessage()"></app-send>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>