<div class={{active}} (click)="toggleActive(this)">
   
    <div class="flex-2">
        <div class="w-12 h-12 relative">
            <img class="w-12 h-12 rounded-full mx-auto" src="../assets/profile-image.png" alt="chat-user" />
            <span class="absolute w-4 h-4 bg-green-400 rounded-full right-0 bottom-0 border-2 border-white"></span>
        </div>
    </div>
    <div class="flex-1 px-2">
        <div class="truncate w-32"><span class="text-gray-800">{{name}}</span></div>
        <div><small class="text-gray-600">{{message}}</small></div>
    </div>
    <div class="flex-2 text-right">
        <div><small class="text-gray-500">{{date}}</small></div>
        <div>
            <small class="text-xs bg-red-500 text-white rounded-full h-6 w-6 leading-6 text-center inline-block">
                {{notification}}
            </small>
        </div>
    </div>
</div>
